.navbarContainer{
    background-color: rgba(236, 236, 236, 0.888);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 5rem;
    border-bottom: 2px solid rgb(28, 98, 55);
    color: rgb(28, 98, 55);
    font-size: 1rem;
    font-weight: 600;
}

.navbarLinks ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.navbarLinks ul li{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.navbarInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.navbarAvatar{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: azure;
    cursor: pointer;
}